a:link {
    text-decoration: none;
}

h1 {
    font-size: 400%;
    color: rgb(255, 255, 255);
    text-align: center;
}

h2 {
    color: red;
}


body {
    background-image: url('https://news.kbs.co.kr/data/news/2017/12/14/3583064_vap.jpg');
    background-size: cover;
}

.container {
    height: 100vh;
}