body {
    background-color: black;
}

.user-page {
    background-color: whitesmoke;
}

table {
    text-align: center;;
}

thead {
    color: white;
}

th:first-child {
    width: 15%;
}

th:nth-child(2) {
    width: 40%;
}

th:nth-child(3) {
    width: 15%;
}

th:last-child {
    width: 30%;
}

.poster-img {
    height: 300px;
}

.card-title {
    height: 48px;
}
