{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block css %}
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'accounts/userform.css' %}">
{% endblock %}

{% block content %}
  <div class="w-50 mx-auto">
    {% if request.resolver_match.url_name == 'signup' %}
      <h2 class="text-white font-weight-bold">신규 회원 가입</h2>
    {% else %}
      <h2 class="text-white font-weight-bold">회원 정보 수정</h2>
    {% endif %}

    <form action="", method="POST", enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% if request.resolver_match.url_name == 'signup' %}
        <button class="btn btn-danger float-right">회원 가입</button>
      {% else %}
        <button class="btn btn-danger float-right">정보 수정</button>
      {% endif %}
    </form>
  </div>
{% endblock %}