{% extends 'base.html' %}
{% load bootstrap_pagination %}
{% load static %}

{% block css %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'community/article_create.css' %}">
{% endblock %}

{% block content %}

    <h1>자유게시판</h1>
    <br>
    <div class="d-flex bd-highlight mb-1">
        <a class="mr-auto p-2 bd-highlight" href="{% url 'community:article_create' %}">글 작성</a>
        <div class="dropdown p-2 bd-highlight">
            <button class="border border-dark bg-light text-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            정렬
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'community:article_index' %}">최신순</a>
                <a class="dropdown-item" href="{% url 'community:article_index_recommend' %}">추천순</a>
            </div>
        </div>
        <form class="form-inline my-2 my-lg-0 bd-highlight" method="GET" action="{% url 'community:article_search' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search" name="kw" value="{{ kw }}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
        </form>
    </div>
    <table class="table">
        <thead>
        <tr class="bg-dark text-white">
            <th>번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>등록일</th>
            <th>추천</th>
        </tr>
        </thead>
        {% for article in page_obj %}
            <tbody>
            <tr>
                <td>{{ article.pk }}</td>
                <td><a class="text-dark" href ="{% url 'community:article_detail' article.pk %}">{{ article.title }}</a></td>
                <td>{{ article.author }}</td>
                <td>{{ article.created_at|date:"m-d" }}</td>
                <td>{{ article.like_users.all|length }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
    
    <div class="d-flex justify-content-center">{% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true"%}</div>

{% endblock %}