{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block css %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'community/articleDetail.css' %}">
{% endblock %}

{% block content %}
    <div class="w-50 mx-auto">
        <h3>제목: {{ article.title }}</h3>
        <h1>내용: {{ article.content }}</h1>
        <hr>
        <h5>작성자: {{article.author }}</h5>
        <h5>작성일자: {{ article.created_at }}</h5>
        <h5>수정일자: {{ article.updated_at }}</h5>
        <hr>
        <p class="text-white">
        추천 <span id="like-count-{{ article.pk }}">{{ article.like_users.all|length }}</span>
        </p>
        {% if request.user != article.author %}
          {% if user in article.like_users.all %}
            <i data-id="{{ article.pk }}" class="far fa-thumbs-up fa-lg like-button" style="color:red; cursor: pointer;"></i>
          {% else %}
            <i data-id="{{ article.pk }}" class="far fa-thumbs-up fa-lg like-button" style="color:white; cursor: pointer;"></i>
          {% endif %}
        {% else %}
            <div class="d-flex flex-row-reverse bd-highlight">
                <div class="p-2 bd-highlight">
                    <form action="{% url 'community:article_delete' article.pk %}" method='POST'>
                        {% csrf_token %}
                        <button class="btn btn-danger">글 삭제</button>
                    </form>
                </div>
                <div class="p-2 bd-highlight">
                    <a href="{% url 'community:article_update' article.pk %}"><button class="btn btn-danger">글 수정</button></a>
                </div>
            </div>
        {% endif %}
        <hr>
        <div class="">
            <form action="{% url 'community:comment_create' article.pk %}" method='POST'>
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="float-right btn btn-danger">댓글작성</button>
            </form>
        </div>
        <br>
        <h5 class="text-secondary font-weight-bold">댓글보기</h5>
        {% for comment in article.comment_set.all %}
          <h5>{{ comment.content }}</h5>
          <p class="text-secondary">{{ comment.author }}</p>
          {% if request.user == comment.author %}
            <form action="{% url 'community:comment_delete' article.pk comment.pk %}" method='POST'>
              {% csrf_token %}
              <button class="btn btn-outline-secondary float-md-right">삭제하기</button>
            </form>
          {% endif %}
        {% endfor %}
    </div>
  <script>
    const likeButtons = document.querySelectorAll('.like-button')
    likeButtons.forEach(function(likeButton) {
      likeButton.addEventListener('click', function(event) {
        const articleId = event.target.dataset.id
        axios.get(`/community/${articleId}/article_like/`)
          .then(response => {
            if (response.data.liked) {
              event.target.style.color = 'red'
            } else {
              event.target.style.color = 'white'
            }
            document.querySelector(`#like-count-${articleId}`).innerText = response.data.like_count
          })
          .catch(error => {
            console.log(error)
          })
      })
    })
  </script>
{% endblock %}