{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block css %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'community/articleDetail.css' %}">
{% endblock %}

{% block content %}
  <div class="w-75 mx-auto">
    <div class="float-right">
      <p class="my-0">작성일자: {{ article.created_at }}</p>
      <p class="my-0">수정일자: {{ article.updated_at }}</p>
    </div>
    <h1>{{ article.title }}</h1>
    <h5>{{article.author }}</h5>
    <hr>
    <h2>{{ article.content }}</h2>
    <hr>
    <p class="text-white">
      {% if request.user != article.author %}
        {% if user in article.like_users.all %}
          <i data-id="{{ article.pk }}" class="far fa-thumbs-up fa-lg like-button" style="color:red; cursor: pointer;"></i>
        {% else %}
          <i data-id="{{ article.pk }}" class="far fa-thumbs-up fa-lg like-button" style="color:white; cursor: pointer;"></i>
        {% endif %}
      {% else %}
      <div class="float-right">
        <div class="d-flex flex-row-reverse bd-highlight">
          <div class="p-2 bd-highlight">
            <form action="{% url 'community:article_delete' article.pk %}" method='POST'>
              {% csrf_token %}
              <button class="btn btn-danger">글 삭제</button>
            </form>
          </div>
          <div class="p-2 bd-highlight">
            <a href="{% url 'community:article_update' article.pk %}"><button class="btn btn-danger">글 수정</button></a>
          </div>
        </div>
      </div>
      {% endif %}
      <span id="like-count-{{ article.pk }}">추천 {{ article.like_users.all|length }}</span>
    </p>
    <div class="">
      <form action="{% url 'community:comment_create' article.pk %}" method='POST'>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="float-right btn btn-danger">댓글작성</button>
      </form>
    </div>
    <br>
    <h5 class="text-secondary font-weight-bold mt-5">댓글보기</h5>
    {% for comment in article.comment_set.all %}
      {% if request.user == comment.author %}
        <hr class="comment-div">
        <div class="float-right">
          <form action="{% url 'community:comment_delete' article.pk comment.pk %}" method='POST'>
            {% csrf_token %}
            <button class="btn btn-outline-light float-md-right">삭제하기</button>
          </form>
        </div>
      {% endif %}
      <p class="text-secondary">{{ comment.author }}</p>
      <h5>{{ comment.content }}</h5>
    {% endfor %}
  </div>
{% endblock %}


{% block vue %}
  <script>
    const likeButtons = document.querySelectorAll('.like-button')
    likeButtons.forEach(function(likeButton) {
      likeButton.addEventListener('click', function(event) {
        const articleId = event.target.dataset.id
        axios.get(`/community/${articleId}/article_like/`)
          .then(response => {
            if (response.data.liked) {
              event.target.style.color = 'red'
            } else {
              event.target.style.color = 'white'
            }
            document.querySelector(`#like-count-${articleId}`).innerText = response.data.like_count
          })
          .catch(error => {
            console.log(error)
          })
      })
    })
  </script>
{% endblock %}