{% extends 'base.html' %}

{% block content %}
    <h1>Community Index</h1>
    <br>
    <a href="{% url 'community:create' %}">글 작성</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">작성자</th>
        </tr>
        </thead>
        {% for article in articles %}
            <tbody>
            <tr>
                <td>{{ article.pk }}</td>
                <th scope="row"><a href ="{% url 'community:detail' article.pk %}">{{ article.title }}</a></th>
                <td>{{ article.author }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}