{% extends 'base.html' %}
{% load static %}
{% load bootstrap_pagination %}

{% block css %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'movies/index.css' %}">
{% endblock %}


{% block content %}
    <h1>지금 바로 {{ movie_count }}개의 영화 정보와 {{ review_count }}개의 리뷰를 만나보세요!</h1>
    {% if request.user.is_authenticated %}
        <a href="{% url 'movies:movie_list' %}"><button class="btn btn-primary">영화 목록 구경</button></a>
    {% else %}
        <a href="{% url 'accounts:signup' %}"><button class="btn btn-danger">회원가입</button></a>
        <a href="{% url 'accounts:login' %}"><button class="btn btn-danger">로그인</button></a>
    {% endif %}

{% endblock %}