{% extends 'base.html' %}
{% load static %}
{% load bootstrap_pagination %}

{% block css %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'movies/index.css' %}">
{% endblock %}


{% block content %}
    <h1>환영합니다!</h1>
    <a href="{% url 'movies:cardlist' %}"><button class="btn btn-primary">영화 목록 구경</button></a>
    <a href="{% url 'accounts:signup' %}"><button class="btn btn-danger">회원가입</button></a>
    <a href="{% url 'accounts:login' %}"><button class="btn btn-danger">로그인</button></a>

{% endblock %}