{% extends 'base.html' %}
{% load static %}
{% load bootstrap_pagination %}


{% block css %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'movies/movie_list.css' %}">
{% endblock %}


{% block content %}
    <div id="app" class="text-center">

        <div class="menu-toggle d-flex justify-content-around">
            <ul id="multicol-menu" class="nav pull-right">
                <li class="dropdown">
                    <button class="btn btn-outline-primary" class="dropdown-toggle" data-toggle="dropdown">[[ genres[genre] ]]</button>
                    <div class="dropdown-menu">
                        <div class="row" style="width: 500px;">
                            <p v-for="genre in genres" @click="changeGenre($event)" class="col-3">[[ genre ]]</p>
                        </div>
                    </div>
                </li>
            </ul>

            <div v-if="!isSearching" class="dropdown float-right">
                <button type="button" class="btn btn-outline-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">[[ standards[standard] ]]</button>
                <div class="dropdown-menu">
                <button v-for="standard in standards" @click="changeStandard($event)" class="dropdown-item" href="#">[[ standard ]]</button>
                </div>
            </div>

            <div>
                <i class="fas fa-search"></i> <input @keyup.enter="searchMovie" type="text" v-model="searchInput">
                <button @click="searchMovie" class="btn btn-outline-primary">검색</button>
            </div>
        </div>


        <h1 v-if="!isExist">해당하는 영화가 없습니다. DB 업데이트를 기다려주세용!</h1>
        <div v-else class="row">
            <div v-for="movie in movies" class="card col-3" style="width: 18rem;" :id="getCardId(movie)">
                <img :src="getMoviePoster(movie)" class="card-img-top" style="height: 400px;">
                <div class="card-body">
                    <h5 class="card-title">[[ movie.title ]]</h5>
                    <p v-text="getMovieOverview(movie)" class="card-text"></p>
                    <a :href="getReviewUrl(movie)" class="float-left"><button class="btn btn-info">리뷰 보기</button></a>
                    <button @click="getGenres(movie)" type="button" class="btn btn-primary float-right" data-toggle="modal" :data-target="makeModal(movie)">더보기</button>
                </div>

                <div class="modal fade bd-example-modal-xl" :id="getModal(movie)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">[[ movie.title ]] ([[movie.original_title ]])</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <img :src="getMoviePoster(movie)" class="card-img-top col-4" alt="...">
                                        <div class="col-4">
                                            <button class='btn btn-outline-success float-right'>[[ movie.vote_average ]]</button>
                                            <p>개봉일 : [[ movie.release_date ]]</p>
                                            <hr>
                                            <button v-for="genre in temp_genres" type="button" class="btn btn-outline-secondary animated infinite swing delay-1s slow mx-3">[[ genre ]]</button>
                                            <hr>
                                            <p class="text-left">[[ movie.overview ]]</p>
                                        </div>
                                        <div class="col-4">
                                            <i v-if="checkLike(movie)" @click="changeLike(movie, $event)" class="fas fa-heart" style="color:red;" data-dismiss="modal">좋아요 취소</i>
                                            <i v-else class="fas fa-heart" @click="changeLike(movie, $event)" style="color:black;">좋아요</i>

                                            <button v-if="checkExclude(movie)" @click="changeExclude(movie, $event)" type="button" class="btn btn-danger exclude-buttons" data-dismiss="modal">실행 취소</button>
                                            <button v-else type="button" @click="changeExclude(movie, $event)" class="btn btn-danger exclude-buttons" data-dismiss="modal">안 볼거야!</button>
                                    
                                            <button v-if="checkLater(movie)" @click="changeLater(movie, $event)" type="button" class="btn btn-info later-buttons" data-dismiss="modal">안 볼래용</button>
                                            <button v-else type="button" @click="changeLater(movie, $event)" class="btn btn-info later-buttons" data-dismiss="modal">나중에 볼게요//</button>        
                                            <hr>
                                            <p> 최근 5개의 리뷰만 표시됩니다. <button class="btn btn-outline-info">전체 리뷰 보기</button></p>
                                            <ul class="text-left">
                                                <li v-if="reviews.length == 0">작성된 리뷰가 없습니다.</li>
                                                <li v-else v-for="review in reviews">[[ review ]]</li>
                                            </ul>
                                            <div class="input-group mb-3 row">
                                                <select class="form-control col-2" id="exampleFormControlSelect1" v-model="reviewScore">
                                                    <option>0</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                    <option>8</option>
                                                    <option>9</option>
                                                    <option>10</option>
                                                </select>
                                                <div class="col-10 px-0">
                                                    <div class="row">
                                                        <input v-model="reviewInput" type="text" class="form-control col-9" placeholder="간단 리뷰 작성하기" aria-label="Recipient's username" aria-describedby="button-addon">
                                                        <div class="px-0 input-group-append col-3">
                                                            <button class="btn btn-outline-secondary" type="button" id="button-addon" @click="makeReview(movie)">작성</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div v-if="!isSearching">
            <div class="btn btn-group">
                <button @click="moveFirst" v-if="curPageNumber != 0" class="btn btn-outline-primary">처음으로</button>
                <button @click="movePage" v-if="curPageNumber - 1 > 0" class="btn btn-outline-primary">[[ curPageNumber - 1 ]]</button>
                <button @click="movePage" v-if="curPageNumber > 0" class="btn btn-outline-primary">[[ curPageNumber ]]</button>
                <button @click="movePage" class="btn btn-primary">[[ curPageNumber + 1 ]]</button>
                <button @click="movePage" v-if="curPageNumber < maxPageNumber" class="btn btn-outline-primary">[[ curPageNumber + 2 ]]</button>
                <button @click="movePage" v-if="curPageNumber + 1 < maxPageNumber" class="btn btn-outline-primary">[[ curPageNumber + 3 ]]</button>
                <button @click="moveLast" v-if="curPageNumber != maxPageNumber" class="btn btn-outline-primary">마지막으로</button>
            </div>
        </div>

        
        <div v-else>
            <div class="btn btn-group">
                <button @click="moveSearchingPage" v-if="curPageNumber != 0" class="btn btn-outline-primary">1</button>
                <button @click="moveSearchingPage" v-if="curPageNumber - 1 > 0" class="btn btn-outline-primary">[[ curPageNumber - 1 ]]</button>
                <button @click="moveSearchingPage" v-if="curPageNumber > 0" class="btn btn-outline-primary">[[ curPageNumber ]]</button>
                <button @click="moveSearchingPage" class="btn btn-primary">[[ curPageNumber + 1 ]]</button>
                <button @click="moveSearchingPage" v-if="curPageNumber < maxPageNumber" class="btn btn-outline-primary">[[ curPageNumber + 2 ]]</button>
                <button @click="moveSearchingPage" v-if="curPageNumber + 1 < maxPageNumber" class="btn btn-outline-primary">[[ curPageNumber + 3 ]]</button>
                <button @click="moveSearchingPage" v-if="curPageNumber != maxPageNumber" class="btn btn-outline-primary">[[ maxPageNumber + 1 ]]</button>
            </div>
        </div>
    </div>
{% endblock %}



{% block vue %}

    <script>
        const standardKey = ['평점', '출시일']
        const genreKey = ['모두', 'Adventure', 'Fantasy', 'Animation', 'Drama', 'Horror', 'Action', 'Comedy', 'Western', 'Thriller', 'Crime', 'Docu', 'SF',
                'Mystery', 'Music', 'Romance', 'Family', 'War', 'History', 'TV Movie']

        const app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            curPageNumber: 0,
            maxPageNumber: 0,
            movies: {},
            like_movies: [],
            exclude_movies: [],
            later_movies: [],
            temp_genres: [],
            standards: standardKey,
            standard: 0,
            genres: genreKey,
            genre: 0,
            reviews: [],
            reviewInput: null,
            reviewScore: 0,
            searchInput: null,
            realSearching: null,
            isSearching: false,
        },
        methods: {
            getMovies(pageNumber, key, genre) {
            axios.get(`/movies/get_movies/${pageNumber}/${key}/${genre}`)
                .then(res => {
                    this.movies = res.data.movies
                    this.like_movies = res.data.like_movies
                    this.exclude_movies = res.data.exclude_movies
                    this.later_movies = res.data.later_movies
                    this.maxPageNumber = res.data.max_page
                    this.isSearching = false
                })
                .catch(err => {
                    console.log(err)
                })
            },
            changeStandard(event) {
                this.standard = standardKey.indexOf(event.target.outerText)
                this.curPageNumber = 0
                this.getMovies(0, this.standard, this.genre)
            },
            changeGenre(event) {
                this.genre = genreKey.indexOf(event.target.outerText)
                this.curPageNumber = 0
                this.getMovies(0, this.standard, this.genre)
            },
            searchMovie() {
                this.realSearching = this.searchInput
                this.searchMovieProcess(0)
                this.searchInput = ''
                this.curPageNumber = 0
                this.isSearching = true
            },
            searchMovieProcess(pageNumber) {
                axios.get(`/movies/search_movies/${this.realSearching}/${pageNumber}`)
                    .then(res => {
                        this.movies = res.data.movies
                        this.maxPageNumber = res.data.max_page
                    })
                    .catch(err => console.log(err))
            },
            moveSearchingPage(event) {
                let page = parseInt(event.target.innerText) - 1
                this.curPageNumber = page
                this.searchMovieProcess(page)
                this.scrollToTop()
            },
            movePage(event) {
                let page = parseInt(event.target.innerText) - 1
                this.curPageNumber = page
                this.getMovies(page, this.standard, this.genre)
                this.scrollToTop()
            },
            moveFirst() {
                this.curPageNumber = 0
                this.getMovies(0, this.standard, this.genre)
                this.scrollToTop()
            },
            moveLast() {
                this.curPageNumber = parseInt(this.maxPageNumber)
                this.getMovies(this.maxPageNumber, this.standard, this.genre)
                this.scrollToTop()
            },
            getMoviePoster(movie) {
                return `https://image.tmdb.org/t/p/original/${movie.poster_path}`
            },
            makeModal(movie) {
                return `#modal-${movie.id}`
            },
            getModal(movie) {
                return `modal-${movie.id}`
            },
            getCardId(movie) {
                return `card-${movie.id}`
            },
            checkLike(movie) {
                return this.like_movies.includes(movie.id)
            },
            checkExclude(movie) {
                return this.exclude_movies.includes(movie.id)
            },
            checkLater(movie) {
                return this.later_movies.includes(movie.id)
            },
            getGenres(movie) {
                axios.get(`/movies/get_genres/${movie.id}`)
                    .then(res => {
                        this.temp_genres = res.data.genres.slice()
                        this.getReviews(movie)
                    })
                    .catch(err => console.log(err))
            },
            getReviews(movie) {
                axios.get(`/movies/get_reviews/${movie.id}`)
                    .then(response => {
                        this.reviews = response.data.reviews
                    })
                    .catch(err => console.log(err))
            },
            makeReview(movie) {
                axios.get(`/movies/make_review/${movie.id}/`, {
                    params: {
                        content: this.reviewInput,
                        score: this.reviewScore
                    }})
                    .then(res => {
                        if (res.data.result == 'success') {
                            this.reviews = [...[res.data.review], ...this.reviews]
                        } else if (res.data.result == 'false') {
                            alert("리뷰는 50자 이하로 입력해주세요!")
                        } else {
                            let answer = confirm("기존에 작성한 리뷰로 이동할까요?")
                            if (answer) {
                                window.location.href = `/movies/review/${res.data.exist_review}`
                            }
                        }
                        this.reviewInput = ''
                        this.reviewScore = 0
                    })
                    .catch(err => console.log(err))
            },
            getReviewUrl(movie) {
                return `/movies/review_list_movie/${movie.id}`
            },
            getMovieOverview(movie) {
                return movie.overview.substr(0, 30) + '...'
            },
            changeLike(movie, event) {
                axios.get(`/movies/movie_like/${movie.id}`)
                    .then(res => {
                        console.log(res.data)
                        let like_count = res.data.like_count
                        let liked = res.data.liked
                        console.log(liked, like_count)
                        if (liked) {
                            event.target.innerText = '좋아요 취소'
                            event.target.style.color = 'red'
                        } else {
                            event.target.innerText = '좋아요'
                            event.target.style.color = 'black'
                        }
                    })
                  .catch(err => console.log(err))
            },
            changeExclude(movie, event) {
                axios.get(`/movies/movie_exclude/${movie.id}/`)
                    .then( res => {
                        let exclude = res.data.exclude
                        if (exclude) {
                            event.target.innerText = '실행 취소'
                        } else {
                            event.target.innerText = '안 볼거야!'
                        }
                        })
                    .catch(error=> {console.log(error)})
            },
            changeLater(movie, event) {
                axios.get(`/movies/movie_later/${movie.id}/`)
                    .then( res => {
                        let later = res.data.later
                    if (later) {
                        event.target.innerText = '안 볼거야!'
                    } else {
                        event.target.innerText = '나중에 볼게요'
                    }
                    })
                    .catch(error=> {console.log(error)})
            },
            scrollToTop () {
            scroll(0, 0)
            },
        },
        computed: {
            isExist() {
                if (this.maxPageNumber == -1) {
                    return false
                } else {
                    return true
                }
            }
        },
        created() {
            this.getMovies(0, 0, 0)
        }
        })
    </script>

{% endblock %}