{% extends 'base.html' %}
{% load static %}


{% block css %}
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'movies/movieRecommend.css' %}">
{% endblock %}


{% block content %}

  <div class="recommendations">
    {% if reason == 1 %}
      <h2>추천 이유 : {{ recommend_genre }} 장르</h2>
    {% elif reason == 2 %}
      <h2>선호 작품에 맞는 영화가 없어서 임의로 선택된 {{ recommend_genre }} 장르를 추천합니다.</h2>
    {% else %}
      <h2>선호 작품이 없어서 임의로 선택된 {{ recommend_genre }} 장르를 추천합니다.</h2>
    {% endif %}
    <div class="row">
      <div id="indicators-recommend-genre" class="carousel slide" data-ride="carousel" data-interval="false">
        <a class="carousel-control-prev col-1" href="#indicators-recommend-genre" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Prev</span>
        </a>

        <div class="carousel-inner col-10 offset-1">
          {% for movie_list in recommend_movies_genre|helper_function %}
            <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
              <div class="row">
                {% for movie in movie_list %}
                  <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" data-toggle="modal" data-target="#modal-{{ movie.pk }}" class="d-block col-2 carousel-img" alt="...">
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>

        <a class="carousel-control-next col-1" href="#indicators-recommend-genre" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    {% for movie in recommend_movies_genre %}
      <div class="modal fade" id="modal-{{ movie.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{ movie.title }} ({{movie.original_title }})</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img-top" alt="...">
            <div class="modal-body">
              <button class='btn btn-outline-success float-right'>{{ movie.vote_average }}</button><h3>줄거리</h3><p>(개봉일 : {{ movie.release_date }})</p>
              <p>{{ movie.overview }}</p>
              <hr>
              <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
              <a href="{% url 'movies:review_list_movie' movie.id %}"><button type="button" class="btn btn-outline-info">리뷰 보러 가기</button></a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="recommendations">
    <h2>추천 이유 : 평점 높은 영화</h2>
    <div class="row">
      <div id="indicators-recommend-score" class="carousel slide" data-ride="carousel" data-interval="false">
        <a class="carousel-control-prev col-1" href="#indicators-recommend-score" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Prev</span>
        </a>

        <div class="carousel-inner col-10 offset-1">
          {% for movie_list in recommend_movies_score|helper_function %}
            <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
              <div class="row">
                {% for movie in movie_list %}
                  <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" data-toggle="modal" data-target="#modal-{{ movie.pk }}" class="d-block col-2 carousel-img" alt="...">
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>

        <a class="carousel-control-next col-1" href="#indicators-recommend-score" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
      
    {% for movie in recommend_movies_score %}
      <div class="modal fade" id="modal-{{ movie.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{ movie.title }} ({{movie.original_title }})</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img-top" alt="...">
            <div class="modal-body">
              <button class='btn btn-outline-success float-right'>{{ movie.vote_average }}</button><h3>줄거리</h3><p>(개봉일 : {{ movie.release_date }})</p>
              <p>{{ movie.overview }}</p>
              <hr>
              <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
              <a href="{% url 'movies:review_list_movie' movie.id %}"><button type="button" class="btn btn-outline-info">리뷰 보러 가기</button></a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>


  <div class="recommendations">
    <div id="app">
      <button v-if="isFakeLoc" class="weather-button float-right" @click="getWeather">현재 날씨 기반 추천 받기</button>
      <h2>날씨 기반 추천 (날씨 : [[ weather ]] / 온도 : [[ temperature ]])</h2>
      <p v-if="isFakeLoc">위치 정보가 없어서 개발자의 위치 기준으로 영화가 추천됩니다.</p>
      <button class="btn btn-outline-light float-right" @click="changeGenre">별로 마음에 안들어요..</button>
      <p id = "status"></p>
      <h4 class="mb-4">[[ recommend_ment ]] [[ recommend_genre ]] 장르 어떠세요?</h4>
      
      <div class="row">
        <div id="indicators-recommend-weather" class="carousel slide" data-ride="carousel" data-interval="false">
          
          <a class="carousel-control-prev col-1" href="#indicators-recommend-weather" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Prev</span>
          </a>

          <div class="carousel-inner col-10 offset-1">
            <div v-for="(movie_list, index) in recommendMoviesWeather" :key="index" v-if="checkEmpty(movie_list)" :class="getClass(index)">
              <div class="row">
                  <img v-for="movie in movie_list" :src="getPosterUrl(movie)" data-toggle="modal" :data-target="makeModalId(movie)" class="d-block col-2 carousel-img" alt="...">
              </div>
            </div>
          </div>

          <a class="carousel-control-next col-1" href="#indicators-recommend-weather" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <div v-for="movie_list in recommendMoviesWeather">
        <div v-for="movie in movie_list" class="modal fade" :id="getModalId(movie)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">[[ movie.title ]] ([[ movie.original_title ]])</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <img :src="getPosterUrl(movie)" class="card-img-top" alt="...">
              <div class="modal-body">
                <button class='btn btn-outline-success float-right'>[[ movie.vote_average ]]</button><h3>줄거리</h3><p>(개봉일 : [[ movie.release_date ]])</p>
                <p>[[ movie.overview ]]</p>
                <hr>
                <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
                <a :href="getMovieReviewUrl(movie)"><button type="button" class="btn btn-outline-info">리뷰 보러 가기</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    
  </div>
{% endblock %}


{% block vue %}

  <script>
    const app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
      WEATHER_API_KEY: "{{ WEATHER_API_KEY }}",
      latitude: 0,
      longitude: 0,
      weather: null,
      temperature: 0,
      recommend_ment: null,
      recommend_genre: null,
      isFakeLoc: true,
      recommendMoviesWeather: [],
      },
    methods: {
      getWeatherMovie(latitude, longitude) {
        axios.get(`https://api.openweathermap.org/data/2.5/weather?lat=${latitude}&lon=${longitude}&appid=${this.WEATHER_API_KEY}`)
          .then(res => {
            this.weather = res.data.weather[0].main
            this.temperature = (res.data.main.temp - 273.15).toFixed(2)
            axios.get(`/movies/get_movie_recommend/${res.data.weather[0].main}/${(res.data.main.temp - 273.15).toFixed(2)}`)
              .then(res => {
                this.recommend_ment = res.data.final_reason
                this.recommend_genre = res.data.final_genre
                this.recommendMoviesWeather = [res.data.recommended_movies.slice(0, 6), res.data.recommended_movies.slice(6, 12), res.data.recommended_movies.slice(12, 18)]
              })
              .catch(err => {
                console.log(err)
              })
          })
          .catch(err => {
            console.log(err)
          })
        },
      getWeather() {
        this.isFakeLoc = false
        let self = this
        const status = document.querySelector('#status');

        function success(position) {
          let latitude  = position.coords.latitude;
          let longitude = position.coords.longitude;
          axios.get(`https://api.openweathermap.org/data/2.5/weather?lat=${latitude}&lon=${longitude}&appid=${self.WEATHER_API_KEY}`)
            .then(res => {
              self.weather = res.data.weather[0].main
              self.temperature = (res.data.main.temp - 273.15).toFixed(2)
                axios.get(`/movies/get_movie_recommend/${res.data.weather[0].main}/${(res.data.main.temp - 273.15).toFixed(2)}`)
                  .then(response => {
                    self.recommend_ment = response.data.final_reason
                    self.recommend_genre = response.data.final_genre
                    self.recommendMoviesWeather = [response.data.recommended_movies.slice(0, 6), response.data.recommended_movies.slice(6, 12), response.data.recommended_movies.slice(12, 18)]
                  })
                  .catch(err => {
                    console.log(err)
                  })
            })
            .catch(err => {
              console.log(err)
            })
          status.textContent = ''
        }

        function error() {
          status.textContent = '위치 검색에 실패했습니다.';
        }

        if(!navigator.geolocation) {
          status.textContent = '해당 브라우저에서는 지원하지 않습니다.';
        } else {
          status.textContent = '위치를 찾고 있습니다...';
          navigator.geolocation.getCurrentPosition(success, error);
        }
      },
      changeGenre() {
        axios.get(`/movies/get_movie_recommend/${this.weather}/${this.temperature}`)
          .then(res => {
            this.recommend_ment = res.data.final_reason
            this.recommend_genre = res.data.final_genre
            this.recommendMoviesWeather = [res.data.recommended_movies.slice(0, 6), res.data.recommended_movies.slice(6, 12), res.data.recommended_movies.slice(12, 18)]
          })
          .catch(err => {
            console.log(err)
          })
        const MovieRecommendCarousel = document.querySelector('#indicators-recommend-weather')
        console.log(MovieRecommendCarousel)
        const activeCarousel = MovieRecommendCarousel.querySelector('.active')
        activeCarousel.className = activeCarousel.className.substr(0,13)
        const firstCarousel = MovieRecommendCarousel.querySelector('.carousel-item')
        firstCarousel.className = activeCarousel.className + ' active'
        console.log(firstCarousel)
      },
      getPosterUrl(movie) {
        return `https://image.tmdb.org/t/p/original/${movie.poster_path}`
      },
      makeModalId(movie) {
        return `#modal-${movie.id}`
      },
      getModalId(movie) {
        return `modal-${movie.id}`
      },
      checkEmpty(movieArray) {
        if (movieArray.length > 0) {
          return true
        } else {
          return false
        }
      },
      getMovieReviewUrl(movie) {
        return `/movies/review_list_movie/${movie.id}/`
      },
      getClass(index) {
        if (index == 0) {
          return 'carousel-item active'
        } else {
          return 'carousel-item'
        }
      },
    },
    created() {
      this.getWeatherMovie(37.48, 126.94)
    },
  })
  </script>
{% endblock %}