{% extends 'base.html' %}
{% load bootstrap_pagination %}
{% load static %}

{% block css %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'movies/review_list.css' %}">
{% endblock %}


{% block content %}
    <div id="app">

        <div class="row">
            <div class="col-3">
                <h1> 2위 </h1>
                <p>{{ top_movies.1.0.title }}</p>
                <p>{{ top_movies.1.1 }} 점</p>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6 offset-3">
                        <h1> 1위 </h1>
                        <p>{{ top_movies.0.0.title }}</p>
                        <p>{{ top_movies.0.1 }} 점</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <h1> 3위 </h1>
                <p>{{ top_movies.2.0.title }}</p>
                <p>{{ top_movies.2.1 }} 점</p>
            </div>
        </div>

        <h1>리뷰 리스트</h1>
        <a href="{% url 'movies:review_create_withoutmovie' %}">리뷰쓰러 가기</a>

        <ul>
            {% for review in page_obj %}
                <li><a href="" class="text-decoration-none" data-toggle="modal" data-target="#modal-{{review.movie_id}}">{{ review.movie }}</a> - {{ review.content }}</li>
                
                <div class="modal fade" id="modal-{{review.movie_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ review.movie.title }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <img src="https://image.tmdb.org/t/p/original/{{ review.movie.poster_path }}" class="card-img-top" alt="...">
                        <div class="modal-body">
                            {{ review.movie.overview }}
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'movies:review_list_movie' review.movie.id %}"><button class="btn btn-info">이 영화 리뷰 보러 가기</button></a>
                            <a href="{% url 'movies:review_create' review.movie.id %}"><button class="btn btn-info">이 영화 리뷰 쓰러 가기</button></a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </ul>

        <div class="d-flex justify-content-center">{% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true"%}</div>
    </div>
{% endblock %}




{% block vue %}
{% endblock %}