{% extends 'base.html' %}
{% load static %}

{% block css %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'movies/review_detail.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="https://image.tmdb.org/t/p/original/{{ review.movie.poster_path }}" alt="" class="img-thumbnail">
            </div>
            <div id="app" class="col">
                <h1>{{ review.movie.title }}</h1>
                <p>{{ review.movie.overview }}</p>
                <hr>
                <p>한줄평: {{ review.content }}</p>
                <p>평점: {{ review.score }}</p>
                <hr>
                <p>작성자: {{ review.author.nickname }}</p>
                <p>작성일자: {{ review.created_at }}</p>
                <p>수정일자: {{ review.updated_at }}</p>
                <a href="">리뷰 수정</a>
            </div>
        </div>
    </div>
{% endblock %}




{% block vue %}
{% endblock %}