{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}


{% block content %}
    <h1>기능 테스트</h1>
    <div id="app">
        <button @click="changeComponent" class="btn btn-danger">주간 순위 보기</button>
        <div v-if="isDaily">
            <div class="row">
                <button @click="moveprev" class="btn btn-outline-primary col-1"><</button>
                <h1 class="col-10">[[ year ]]년 [[ month ]]월 [[ date ]]일의 박스오피스 순위</h1>
                <button @click="movenext" v-if="!isLastDate" class="btn btn-outline-primary col-1">></button>
            </div>
            <ul>
                <li v-for="movie in movie_rank">[[ movie.movieNm ]]</li>
            </ul>
        </div>
        <div v-else>
            <h2>주간</h2>
        </div>
    </div>
{% endblock %}


{% block vue %}

    <script>
        const today = new Date();
        const leapYear=[31,29,31,30,31,30,31,31,30,31,30,31]
        const notLeapYear=[31,28,31,30,31,30,31,31,30,31,30,31]

        const app = new Vue({
        delimiters: ['[[', ']]'],
            el: '#app',
        data: {
            KOBIS_API_KEY: "{{ SECRET_KEY_KOBIS_API_KEY }}",
            year: null,
            month: null,
            date: null,
            movie_rank: [],
            isLeapYear: null,
            isDaily: true
        },
        methods: {
            changeComponent() {
                this.isDaily = !this.isDaily
            },
            isLeap(year) {
                if (year % 4 == 0) {
                    this.isLeapYear = leapYear
                } else {
                    this.isLeapYear = notLeapYear
                }
            },
            getRank(wMonth, wDate) {
                let month = null;
                let date = null;
                if (wMonth < 9 ) {
                    month = '0' + this.month
                } else {
                    month = this.month
                }

                if (wDate < 10) {
                    date = '0' + this.date
                } else {
                    date = this.date
                }
                axios.get(`http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=${this.KOBIS_API_KEY}&targetDt=${this.year}${month}${date}`)
                    .then(res => {
                        this.movie_rank = res.data.boxOfficeResult.dailyBoxOfficeList
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
            moveprev() {
                this.date -= 1
                if (this.date == 0) {
                    this.month -= 1
                    if (this.month == 0) {
                        this.year -= 1
                        this.month = 12
                        this.isLeap(this.year)
                    }
                    this.date = this.isLeapYear[this.month-1]
                }
                this.getRank(this.month, this.date)
            },
            movenext() {
                this.date += 1
                if (this.date == this.isLeapYear[this.month-1]+1) {
                    this.month += 1
                    if (this.month == 13) {
                        this.year += 1
                        this.month = 1
                        this.isLeap(this.year)
                    }
                    this.date = 1
                }
                this.getRank(this.month, this.date)

            }
        },
        computed: {
            isLastDate() {
                if ((this.year == today.getFullYear()) && (this.month == today.getMonth()+1) && (this.date == today.getDate()-1)) {
                    return true
                } else {
                    return false
                }
            },
        },
        created() {
            this.year = today.getFullYear()
            this.month = today.getMonth() + 1
            this.date = today.getDate() - 1
            this.getRank(today.getMonth()+1, today.getDate()-1)
            
            this.isLeap(today.getFullYear())
        },
        })
    </script>

{% endblock %}